:root{
    --color-fondo: #F7F8FA;
    --color-titulos-principales: #4D5E80;    
    --color-titulos-superiores: #7D8FB3;
    --color-precios: #6B7A99;
  }

.NavBarContainer{
    display: flex;
    height: 90px;
    padding: 0px 80px 0px 60px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);    
}
h3{
    color: var(--color-titulos-principales);
    font-size: 1.25rem;
  }

.brand{
    display: flex;
    gap: 30px;
}

.searchInput{
    display: flex;
    align-items: center;
    position: relative;
}
.searchInput i{
    position: absolute;
    color: #C3CAD9;
    left: 5px;
    top: 6px;
    background-color: transparent;
}
.searchInput input{
    border: none;
    border-radius: 30px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    height: 30px;
    width: 25vw;
    color: #ADB8CC;
    font-size: 12px;
    padding-left: 40px;
}
.searchInput input:focus{
    border: 1px solid #ADB8CC;
    outline: none;
}
.searchInput input::placeholder{
    font-size: 12px;
    color: #ADB8CC;
    font-weight: 700;
    
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--color-precios);
}
.menu i{
    color: #C3CAD9;
    font-size: 1.2rem;
}
.menu .searchIcon{
    display: none;
}
.menu h4:hover{
    color: #4D5E80;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11);
}
.menu i:hover{
    color: #4D5E80;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11);
}


@media screen and (max-width: 1000px){
html{
    font-size: 0.9rem;
}
.menu .searchIcon{
    display: flex;
}
.NavBarContainer{
    height: 80px;
}
.searchInput{
    display: none;
}
}

@media screen and (max-width: 650px){
html{
    font-size: 0.85rem;
}
.brand h3{
    display: none;
}
.NavBarContainer{
    display: flex;
    height: 70px;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
}