.productCard-container h2{
    background-color: white;
    color: var(--color-titulos-principales);
}
.productCard-container p{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-titulos-superiores);
}